__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.env
.env_db
.venv
venv/
ENV/
env/
.git
.gitignore
*.log
logs/
node_modules/
tailwindcss/node_modules/
alembic/versions/
.DS_Store
*.swp
*.swo
*~

