alembic==1.16.4
asyncpg==0.30.0
bcrypt==4.0.1
cryptography==45.0.6
fastapi==0.116.1
geoip2==5.1.0
gunicorn==23.0.0
httpx==0.28.1
itsdangerous==2.2.0
Jinja2==3.1.6
passlib==1.7.4
pillow==11.3.0
protobuf==6.31.1
pyotp==2.9.0
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.20
qrcode==8.2
slowapi==0.1.9
SQLAlchemy==2.0.43
starlette==0.47.2
user-agents==2.2.0
uvicorn[standard]==0.35.0
